/* Egyedi stílusok a Bootstrap mellé */
.hero-section {
    background: url('./images/banner.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 40vh;
    min-height: 350px;
}
.hero-section .container {
    height: 100%;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.nav-dark-custom {
    background-color: #343a40 !important;
}

.demo-alert {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
}

.btn-outline-danger-custom {
    border-color: #f5c6cb;
    color: #721c24;
}