:root{
    --primary-color: #8c6543;
    --secondary-color: #f44336;
    --background-color: #8c6543;
    --text-color: #333;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh;
}
header {
    background-image: url("./images/fejlec_vagott.png");
    background-repeat: no-repeat;
    background-size: cover;
     background-position: bottom center;
    height: max(400px, 20vh);
    width: 100%;
    font-family: 'Brush Script MT', cursive;
    font-size: 6vh;
    color: navy;
    padding: 20px;
    text-align: center;
}
#overlay {
    background-color: rgba(255, 255, 255, 0.5);
}
main {
    padding: 20px;
    height: auto;
}